body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #7a888d;
}
.fullscreen {
    background: url(../image/fullscreen.jpg) 0 0 no-repeat;
    color: #fff;
}
header {
    height: 90px;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    /* position: relative; */
}
.header__info {
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.logotype {
}
.logotype a, .menu {
    height: 90px;
    display: flex;
    align-items: center;
}
.logotype img {
    width: 258px;
    height: 40px;
}
.button__menu {
}
.fullscreen__content {

}
.contant__wrap {
    padding: 100px 0 220px;
}
.content__subtitle {
    margin-bottom: 22px;
}
.subtitle {
    font-size: 14px;
    line-height: 21px;
}
.content__title {
    max-width: 615px;
    margin-bottom: 24px;
}
h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
}
.content__text {
    max-width: 615px;
    margin-bottom: 45px;
}
.text {
    line-height: 26px;
}
.link {
    line-height: 24px;
    display: inline-block;
    color: #D4D6D4;
}
.link::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #D4D6D4;
}
.link:hover {
    color: #FFD723;
}
.link:hover::before {
    border-left: 7px solid #FFD723;
}
.content__link {
    color: #FFD723;
}
.content__link::before {
    border-left: 7px solid #FFD723;
}

/*----------------------------brands--------------------------*/

.brands {
    margin: -113.5px 0;
    padding-left: 165px;

}
.container__right {
    background-color: #fff;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;

}
.brands__wrap {
    height: 227px;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brands__wrap img {
    width: 156px;
    height: 113px;
}

/*---------------------------offer-----------------------------*/

main {
    position: relative;
    /* margin-bottom: 190px; */
}
.offer {
    padding: 0 165px;
}
.offer__description {
    padding: 100px 0 150px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebeced;
}
.offer__technology {
    max-width: 475px;
    padding: 135px 0 0 0;
}
.technology__subtitle {
    margin-bottom: 29px;
    color: #5f6450;
}
.title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #4D533C;
}
.technology__title {
    margin-bottom: 35px;
    width: 400px;
}
.technology__title span {
    background-color: #fffbe9;
}
.technology__text {
    margin-bottom: 42px;
}
.technology__link {


}
.offer__quote {
    max-width: 475px;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    padding: 135px 40px 60px;
}
.quote__text {
    font-style: italic;
    color: #4D533C;
    line-height: 26px;
    max-width: 390px;
    margin-bottom: 24px;
}
.offer__text {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 50px;
}
.quote__author {
    display: flex;
}
.offer__author {
    height: 90px;
}
.quote__image {
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.offer__image {
    width: 90px;
    height: 90px;
    margin-right: 30px;
}
.quote__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer__person {

}
.person__name {
    font-weight: 700;
    color: #4D533C;
}
.offer__name {
    font-size: 22px;
    line-height: 40px;
}
.person__jobtitle {
    color: #152934;
    font-size: 14px;
    line-height: 30px;
}
.offer__jobtitle {
    font-size: 16px;

}

/*--------------------------project----------------------------*/

.project {
    padding: 150px 0;
}
.project__proposal {
    display: flex;

}
.proposal__title {
    max-width: 460px;
    line-height: 54px;
}
.proposal__text {
    max-width: 520px;
    align-self: center;
}



.firstoffer {
    padding-top: 100px;
    padding-right: 165px;
    display: flex;
    gap: 55px;
}
.firstoffer__demonstration {
    max-width: 775px;
    padding: 0 40px 65px 0;

    position: relative;

}
.demonstration__image {
    max-width: 735px;
}
.demonstration__quote {
    width: 453px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    position: absolute;
    left: 322px;
    bottom: 0px;
}
.quote__text-small {

}
.quote__author-small {
    height: 48px;
}
.quote__image-small {
    width: 46px;
    height: 46px;
    margin-right: 14px;
}
.quote__person-small {}



.firstoffer__description {
    padding: 90px 0 0 0px;
    width: 420px;
}
.description__title {
    margin-bottom: 24px;
}
.description__text {
    margin-bottom: 35px;
}
.description__text:last-of-type {
    margin-bottom: 90px;
}
.description__link {
}





.secondoffer {
    padding-top: 100px;
    padding-left: 165px;
    display: flex;
    gap: 55px;
}
.secondoffer__description {
    padding: 90px 0 0 0px;
    width: 420px;
}
.secondoffer__demonstration {
    max-width: 775px;
    padding: 0 0px 65px 40px;
    position: relative;
}
.secondoffer__quote {
    left: 0px;

}








.thirdoffer {
    padding-top: 100px;
    padding-right: 165px;
    display: flex;
    gap: 55px;
}
.thirdoffer__demonstration {
    max-width: 775px;
    padding: 0 40px 65px 0;
    position: relative;
}
.thirdoffer__description {
    padding: 90px 0 0 0px;
    width: 420px;
}


/*---------------------------categories---------------------------*/



.categories {
}
.wrapper {
    padding: 150px 0 322px;
    border-top: 1px solid #ebeced;
}
.categories__title {
    max-width: 610px;
    margin-bottom: 60px;
}
.categories__wrap {
    display: flex;
}
.categories__card {
    max-width: 255px;
    padding: 27px 31px 35px;
    display: flex;
    flex-direction: column;
}
.card__title {
    font-size: 24px;
    font-weight: 500;
    color: #4D533C;
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 20px;
}
.card__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
    flex: 1 1 auto;
}

/*-------------------------calltoaction---------------------*/

.calltoaction {
    width: 1285px;
    padding: 70px 0 70px 165px;
    display: block;
    position: absolute;
    bottom: -190px;
    left: 0;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.calltoaction__title {
    font-size: 60px;
    line-height: 74px;
    font-weight: 700;
    max-width: 800px;
    margin-bottom: 50px;
    color: #4D533C;
}
.calltoaction__link {
}

/*-----------------------footer------------------------------*/

footer {
    background: url(../image/Bg.jpg) 0 0 no-repeat;
    padding-top: 260px;
}
.footer__adress {
    display: flex;
    gap: 10px;
    padding: 50px 0;
    border-bottom: 1px solid #5d6544;
}
.footer__column {
    width: 250px;
}
.adress__name {
    color: #B6C197;
    line-height: 40px;
    margin-bottom: 8px;
}
.adress__value {
    color: #fff;
    line-height: 40px;
    font-weight: 700;
}

.footer__contact {
    padding: 60px 0;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #5d6544;
}
h5 {
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.footer__list li a {
    line-height: 40px;
    color: #B6C197;
}

.contact__help {
}
.contact__about {
}
.contact__info {
}


.footer__info {
    width: 330px;
}
.info__title {
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 23px;
}
.info__text {
    color: #B6C197;
    max-width: 270px;
    margin-bottom: 23px;
    line-height: 30px;
}
.info__link {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #fff;
    margin-bottom: 23px;
}
.info__socialnetwork {
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: #444a34;
    border-radius: 50%;
}
.footer-link:hover {
    background-color: #ffd723;
}
.footer-link-a {
    color: #5e6648;
}
.footer-link-a:hover {
    color: #fff;
}

.footer__copyright {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright__image {
}
.copyright__text {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}
